<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Inventories</h1>
    <%= link_to 'Reinitialize' , inventories_path(command: :initialize), class: "" %>
    <%= link_to 'New inventory', new_inventory_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
<!--
  <div id="inventories" class="min-w-full">
    <%# render @inventories %>
  </div>   -->
  <%= form_with url: inventories_path , method: :get  do |form| %>
    <%= form.select :supplyer, options_for_select(Supplier.all.map {|x| [x.name, x.id]}),{},{class: "inline shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-1/3"}%>
    <%= form.submit "Filter" , class: "bg-green-400 text-white font-semibold py-2 px-8 rounded-md"%>
  <% end %>
  <% if @inventories == nil %>
    <p> no entries yet </p>
  <% else %>

  <section class="grid grid-cols-4 gap-2 mt-5">
    <% @drinks_hash.each do |k,v| %>
      <% if v < 0 %>
      <div class="flex flex-col border border-2 border-red-200">
      <% else %>
      <div class="flex flex-col border border-2 border-blue-200">
      <% end %>
        <div> <%= k %> </div>
        <div> <%= v %> </div>
      </div>
    <% end %>
    <% end %>
  </section>
</div>
