<div id="<%= dom_id fixed_asset %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Asset name:</strong>
    <%= fixed_asset.asset_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Asset unit price:</strong>
    <%= fixed_asset.asset_unit_price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this fixed asset", fixed_asset, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this fixed asset', edit_fixed_asset_path(fixed_asset), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
