<section class="grid grid-cols-8 gap-y-5 mb-5">
  <div class="col-span-4"> <span class="font-semibold">Name of drink : </span><%= drink.name %> </div>
  <div class="col-span-4"> <span class="font-semibold"> Supplyer : </span><%= Supplier.find(drink.supplyer).name %> </div>
  <div class="col-span-2"> <span class="font-semibold">Volume : </span><%= drink.size.to_s + "Litres " %> </div>
  <div class="col-span-3"> <span class="font-semibold"> Packaging type : </span><%= drink.packaging %> </div>
  <div class="col-span-3"> <span class="font-semibold"> Has alcohol? : </span><%= drink.alcoholic ? "Yes" : "No"%> </div>
  <div class="col-span-4"> <span class="font-semibold"> Inside  : </span><%= drink.number_per_package.to_s + " " + drink.container_type + "(s)" %>  </div>
  <div class="col-span-4"> <span class="font-semibold"> Safe quantity: </span><%= drink.safe_quantity %> </div>
  <div class="col-span-3"> <span class="font-semibold">Wholesale price : </span><%= drink.wholesale_price %> </div>
  <div class="col-span-3"> <span class="font-semibold"> Retail price: </span><%= drink.retail_price  %> </div>
</section>


  <% if action_name != "show" %>
  <div>
    <%= link_to  drink, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" do %>
      <ion-icon name="eye-outline"></ion-icon> 
    <% end %>
    <%= link_to  edit_drink_path(drink), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" do %>
      <ion-icon name="pencil-outline"></ion-icon>
    <% end %>
  </div>
  
  <% end %>

   
