<%= form_with(model: drink, class: "contents") do |form| %>
  <% if drink.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
        <% drink.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :supplyer %>
    <%= form.text_field :supplyer, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :size , class: "font-bold" %> <span class="text-xs italic">per unit in litres</span>
    <%= form.text_field :size, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", placeholder:"in litres" %> 
  </div>

  <div class="my-5">
    <%= form.label :packaging %>
    <%= form.select :packaging, options_for_select([["single","single"],["palette", "palette"],["crate","crate"],["carton(box)","carton"]]),{},{class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"} %>
  </div>

  <div class="my-5">
    <%= form.label :alcoholic %>
    <%= form.check_box :alcoholic, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :retail_price %>
    <%= form.text_field :retail_price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :wholesale_price %>
    <%= form.text_field :wholesale_price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
