<div data-controller="drinks">
<%= form_with(model: drink, class: "contents") do |form| %>
  <% if drink.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
        <% drink.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name , class: "font-bold"%>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full", autofocus: true, data: {drinks_target: "name", drinks_action: "keyup->drinks#abbreviate"} %>
  </div>

  <div class="my-5">
    <%= form.label :supplyer , class: "font-bold" %>
<%= form.select :supplyer, options_for_select([["Supermont","Supermont"],["Brasseries du Cameroun", "Brasseries du Cameroun"],["Guinness Cameroun SA","Guinness Cameroun SA"],["Foreign","Foreign"]],selected: form.object.supplyer),{},{class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full"} %>
  </div>

  <div class="my-5">
    <%= form.label :size , class: "font-bold" %> <span class="text-xs italic">per unit in litres</span>
    <%= form.text_field :size, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full", placeholder:"in litres" , data: {drinks_action: "keyup->drinks#abbreviate"}, id: "size"%> 
  </div>
  <div class="my-5">
    <%= form.label :container_type , class: "font-bold"%>
    <%= form.select :container_type, options_for_select([["plastic bottle","plastic bottle"],["glass bottle", "glass bottle"],["carton","carton"],["alluminium can","alluminium can"]],selected: form.object.container_type),{},{class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full"} %>
  </div>
  <div class="my-5">
    <%= form.label :packaging , class: "font-bold"%>
    <%= form.select :packaging, options_for_select([["single","single"],["palette", "palette"],["crate","crate"],["carton(box)","carton"]],selected: form.object.packaging),{},{class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full"} %>
  </div>
  <div class="my-5">
    <%= form.label :number_per_package , class: "font-bold" %> 
    <%= form.select :number_per_package, options_for_select([["1",1],["6", 6],["12",12],["15",15],["24",24]], selected: form.object.number_per_package),{},{class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full"} %> 
  </div>
    <div class="my-5">
    <%= form.label :abbreviation , class: "font-bold" %> 
    <%= form.text_field :abbreviation, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full", placeholder:"in litres" , data: {drinks_target: "abbr"}%> 
  </div>
  <div class="my-5">
    <%= form.label "Is it alcoholic? : ", class: "font-bold" %>
    <%= form.check_box :alcoholic, class: "block mt-2 h-5 w-5" %>
  </div>
  <div class="my-5">
    <%= form.label :safe_quantity , class: "font-bold"%>
    <%= form.text_field :safe_quantity, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :retail_price , class: "font-bold"%>
    <%= form.text_field :retail_price, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :wholesale_price , class: "font-bold"%>
    <%= form.text_field :wholesale_price, class: "block shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
</div>