<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Drinks</h1>
    <%= link_to 'New drink', new_drink_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <%= form_with(url: drinks_path, method: :get, data: {turbo_frame: "drinks",turbo_action: "advance"}) do |form| %>

    <div class="flex space-x-3 mb-10 mt-5">
      <%= form.text_field :query, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full ring-0 focus:ring-4 focus:ring-orange-100 focus:shadow-none focus:border-orange-500 focus:outline-none", placeholder: "search drink by name",  data: {action: "input->drinks#search"} %>

      <%= form.submit 'Search', class: "px-4  font-medium
    bg-orange-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 text-white focus:ring-4 ring-0 focus:ring-orange-100" %>
    </div>
<% end %>
<hr>
<%= link_to "generate orice list", generate_list_path(format: :pdf) , class: "text-red-400"%>
  <div class="grid md:grid-cols-4 bg-gray-800 text-white font-semibold uppercase">
    <p class="my-3">
      <strong class="block font-medium mb-1">Name:</strong>
    </p>
  
    <p class="my-3">
      <strong class="block font-medium mb-1">Supplyer:</strong>
    </p>
  
    <p class="my-3">
      <strong class="block font-medium mb-1">Buying cost:</strong>
    </p>
  
    <p class="my-3">
      <strong class="block font-medium mb-1">Wholesale price:</strong>
    </p>
  </div>
  <div id="drinks" class="min-w-full">
    <%= turbo_frame_tag "drinks" do %>
    <ul class="mt-5">
      <% @drinks.each do |drink|%>
        <li class="py-2 hover:bg-blue-900 hover:text-white hover:font-semibold">
          <%= link_to drink do %>
            <div class="grid grid-cols-4">
              <div><%= drink.name %></div>
              <div><%= Supplier.find(drink.supplyer).name%></div>
              <div><%= drink.buying_cost %></div>
              <div><%= drink.wholesale_price %></div>

            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
