<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Crates</h1>
    <%= link_to 'Receive Crates from client', new_crate_path, class: "rounded-lg py-3 px-5 bg-gray-600 text-white block font-medium" %>
  </div>

  <div id="crates" class="min-w-full">
    <div class="grid grid-cols-3 text-center bg-blue-900 text-blue-100 font-semibold py-2 my-5">
      <div class="">client name </div>
      <div>number of brasseries crates</div>
      <div>number of guinness crates</div>
    </div>
    <ul>
      <% @crates.each do |crate|%>
        <li class="">
          <%= link_to crate ,class: "grid grid-cols-3 text-center" do %>
          <div><%= crate.client.name %></div>
          <div><%= crate.brasseries_crates %></div>
          <div><%= crate.guinness_crates %></div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <!-- <%= render @crates %> -->
  </div>
</div>
