<div class=" w-full flex mb-20">
  <div class="mx-20 w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="flex justify-end w-full align-center">
      <%= link_to 'Edit this client', edit_client_path(@client), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to 'Destroy this client', client_path(@client), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
      <%= link_to 'Back to clients', clients_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
    <%= render @client %>
<hr>
<h1 class="uppercase font-semibold my-5">Transaction History</h1>
  <div class="grid grid-cols-6 uppercase font-black text-white bg-gray-900">
    <div class="col-span-2 pl-4"> Date</div> <div> Goods amount</div> <div>Amount paid</div> <div> Amount Owed</div> <div class="text-center">PR</div>
  </div>
<ul class="mb-10">
  <%@commands.order("created_at asc").last(10).each do |command| %>
    <%= link_to command_path(command) do %>
    <li class="hover:text-blue-300 hover:bg-gray-900 grid grid-cols-6 gap-10 py-2">
      <div class="col-span-2"> <%= command.created_at.strftime("%A, %d %B %Y") %></div>
      <div> <%= Command.command_total(command) %> </div>
      <div> <%= command.amount_paid == nil ? 0.0 : command.amount_paid%> </div>
      <div> <%= Command.command_total(command) - (command.amount_paid == nil ? 0.0 : command.amount_paid) %> </div>
      <div> <%= Transaction.get_profit_for_command(command)%></div>
    </li>
    <% end %>
  <% end %>
</ul>
    <div>
      Total amount owed : <%= total_owed(@client.name) %>
    </div>
    </div>

</div>
