<section class="w-full ">
  <span class="inline-block bg-gray-600 text-white font-bold px-2 mb-4">Actions : </span>
  <section class="buttons w-full flex justify-between mb-8">
    <div class="inline-block w-1/4 flex flex-col border border-green-400 p-5">
      <p>Rapidly check the prices of certain good by name. </p>
      <hr>
      <%= link_to "Check price",drinks_path, class: "inline-block text-white border bg-green-400 px-8 py-2 cursor-pointer"%>
    </div>
    <div class="inline-block w-1/4 flex flex-col border border-yellow-300 p-5">
      <p>Rapid look up of the list of debtors and even search debtors by name </p>
      <hr>
      <%= link_to "Transactions", debts_path, class: "inline-block text-white bg-yellow-300 px-8 py-2 cursor-pointer font-bold" %>
    </div>
    <div class="inline-block w-1/4 flex flex-col border border-gray-900 p-5">
      <p>Register new stock immediately they arrive from the distributor </p>
      <hr>
      <%= link_to "Inventory", inventories_path, class: "inline-block text-yellow-500 bg-gray-900 px-8 py-2 cursor-pointer font-bold" %>
    </div>
  </section>

  <span class="inline-block bg-gray-600 text-white font-bold px-2 mb-4">Reminders : </span>
  <section class="reminder border border-blue-200">
    <div >

      <div data-controller="static" class="flex justify-end">
          <%= link_to "Add reminder", new_reminder_path, class: "font-bold text-white bg-gray-900 px-8 py-1 cursor-pointer"%>
      </div>
    </div>
    <div class="grid grid-cols-3 ">
      <% if @reminders %>
        <% @reminders.each do |reminder|%>
          <div class=" border border-gray-300 m-5 rotate-1 p-1">
            <div class="flex justify-between ">
              <div class="px-2">
                <%= button_to reminder_path(reminder), method: :delete do %>
                  <ion-icon name="trash-outline" size="small"></ion-icon>
                <% end %>
              </div>
              <div class="bg-blue-400 text-white font-bold text-sm "> <%= reminder.created_at.strftime("%d-%m-%Y")%></div>
            </div>
            <div class=" text-center beautiful-text text-2xl leading-3 px-10 py-4  "> <%=reminder.reminder_text %></div>
          </div>
        <% end%>
      <% end %>
    </div>

    
  </section>
</section>
