<section class="w-full " data-controller="debts">
<section class="w-full h-full bg-gray-700 absolute z-50 fixed top-0 left-0 bg-opacity-80  hidden" data-debts-target="modal">
<div class="flex justify-end">
  <button class="bg-gray-100 font-bold px-3 py-1 rounded-l-full" data-action="click->debts#hide_modal">X</button>
</div>
<div class="flex justify-center items-center gap-4 w-full h-full">
  <%= link_to "Receive money", new_payment_url , class: "bg-green-700 uppercase font-regular text-white px-20 py-10 bg-opacity-50 hover:font-bold hover:bg-opacity-90"%>
  <button class="bg-red-700 uppercase font-regular text-white px-20 py-10 bg-opacity-50 hover:font-bold hover:bg-opacity-90">Receive crates</button>
</div>
</section>
  <span class="inline-block bg-gray-600 text-white font-bold px-2 mb-4">Actions : </span>
  <section class="buttons w-full flex flex-wrap gap-4 justify-between mb-8">
        <a class="border-4 border-green-400 inline-block w-full md:w-1/4 rounded-r-full rounded-l-full flex parent hover:bg-green-400 cursor-pointer hover:font-bold transition-all duration-500" href="/drinks" >
          <div class="flex items-center justify-center inline-block border-4 border-green-400 rounded-full w-10 h-10 ">
            <ion-icon name="pricetag-outline"></ion-icon>
          </div>
          <div class="flex items-center pl-4">
            Check price
          </div>
        </a>
        <a class="border-4 border-blue-400 inline-block w-full md:w-1/4 rounded-r-full rounded-l-full flex parent hover:bg-blue-400 cursor-pointer hover:font-bold" href="/commands">
          <div class="flex items-center justify-center inline-block border-4 border-blue-400 rounded-full w-10 h-10 ">
            <ion-icon name="cart-outline"></ion-icon>
          </div>
          <div class="flex items-center pl-4">
            Commands
          </div>
        </a>
        <a class="border-4 border-red-400 inline-block w-full md:w-1/4 rounded-r-full rounded-l-full flex parent hover:bg-red-400 cursor-pointer hover:font-bold" href="/clients">
          <div class="flex items-center justify-center inline-block border-4 border-red-400 rounded-full w-10 h-10 ">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="flex items-center pl-4">
            Clients
          </div>
        </a>
        <a class="border-4 border-yellow-400 inline-block w-full md:w-1/4 rounded-r-full rounded-l-full flex parent hover:bg-yellow-400 cursor-pointer hover:font-bold" href="#" data-action="click->debts#show_modal">
          <div class="flex items-center justify-center inline-block border-4 border-yellow-400 rounded-full w-10 h-10 ">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <div class="flex items-center pl-4">
            Register a transaction
          </div>
        </a>
  </section>

  <span class="inline-block bg-gray-600 text-white font-bold px-2 mb-4">Reminders : </span>
  <section class="reminder border border-blue-200">
    <div >

      <div data-controller="static" class="flex justify-end">
          <%= link_to "Add reminder", new_reminder_path, class: "font-bold text-white bg-gray-900 px-8 py-1 cursor-pointer"%>
      </div>
    </div>
    <div class="grid grid-cols-3 ">
      <% if @reminders %>
        <% @reminders.each do |reminder|%>
          <div class=" border border-gray-300 m-5 rotate-1 p-1">
            <div class="flex justify-between ">
              <div class="px-2">
                <%= button_to reminder_path(reminder), method: :delete do %>
                  <ion-icon name="trash-outline" size="small"></ion-icon>
                <% end %>
              </div>
              <div class="bg-blue-400 text-white font-bold text-sm "> <%= reminder.created_at.strftime("%d-%m-%Y")%></div>
            </div>
            <div class=" text-center beautiful-text text-2xl leading-3 px-10 py-4  "> <%=reminder.reminder_text %></div>
          </div>
        <% end%>
      <% end %>
    </div>

    
  </section>
</section>
