
        <%= link_to  drinks_path , class: "flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 block" do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900"">
            <ion-icon name="pricetags-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white hover:text-gray-900">
            Drinks
          </div>
        <% end %>
        <%= link_to  commands_path , class: "flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 block" do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900"">
            <ion-icon name="cart-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white hover:text-gray-900">
            Commands
          </div>
        <% end %>
        <%= link_to  fixed_assets_path , class: "flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 hover:text-gray-900 block" do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900"">
            <ion-icon name="building-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white ">
            Assets
          </div>
        <% end %>
        <%= link_to  clients_path , class: "flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 block" do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900"">
            <ion-icon name="people-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white hover:text-gray-900">
            Clients
          </div>
        <% end %>
        <%= link_to  crates_path , class: "flex flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 block" do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900">
            <ion-icon name="cube-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white hover:text-gray-900">
            Crates
          </div>
        <% end %>
        <%= link_to  "#" , class: "flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 block" , data: {action: "click->debts#show_modal"} do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900">
            <ion-icon name="cash-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white hover:text-gray-900">
            Transaction
          </div>
        <% end %>
        <%= link_to  "#", class: "flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 block",  data: {action: "click->debts#show_mod2" } do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900">
            <ion-icon name="wallet-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white hover:text-gray-900">
            Purchase
          </div>
        <% end %>
        <%= link_to  drawings_path , class: "flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 block" do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900">
            <ion-icon name="wallet-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white hover:text-gray-900">
            Drawings
          </div>
        <% end %>
        <%= link_to  static_accounting_path , class: "flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 block" do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900">
            <ion-icon name="wallet-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white hover:text-gray-900">
            Accounting
          </div>
        <% end %>
        <%= link_to  inventories_path , class: "flex justify-start items-center hover:bg-white hover:text-gray-900 w-full pl-4 block" do %>
          <div class=" inline flex items-center justify-center inline-block border-2 border-blue-400 rounded-full w-12 h-full text-white hover:text-gray-900">
            <ion-icon name="wallet-outline"></ion-icon>
          </div>
          <div class=" inline flex items-center pl-4 py-2 text-white hover:text-gray-900">
            Inventory
          </div>
        <% end %>
    