<div id="<%= dom_id command %>" class=" w-full">
  <p class="my-5">
    <strong class=" font-bold mb-1">Client name:</strong>
    <%=link_to command.client_name, static_client_path(name: command.client_name) , class: " px-4 py-1 text-md text-blue-600 hover:text-gray-100 hover:bg-blue-600 hover:font-semibold"%>
  </p>
    <p class="my-5">
    <strong class=" font-bold mb-1">Command date:</strong>
    <%= command.created_at.strftime("%A, %d %B %Y") %>
  </p>
  <div class="grid grid-cols-2">
    <div>Brasseries crates needed : <%= Crate.brassseries_crates_needed(command) %> </div>
    <div>Guinness crates needed :  <%= Crate.guinness_crates_needed(command) %></div>
  </div>
  <turbo-frame id="crates">
    <div class="grid grid-cols-5">
      <div class="col-span-2"> Brasseries crates given : <%= command.brasseries_crates_given %> </div>
      <div class="col-span-2"> Guinness crates given : <%= command.guinness_crates_given %> </div>
    <%= link_to "Change", static_crates_path(id: command.id), class: " block text-gray-100 bg-gray-900 text-center px-auto hover:bg-gray-500 hover:text-bold" %> 
    </div>
  </turbo-frame>
  <br>
  <div class="grid grid-cols-5 uppercase font-black text-white bg-gray-900">
    <div class="col-span-2 pl-4"> Item</div> <div> Quantity</div> <div>Unit price</div> <div> Total price</div>
  </div>
  <div class="w-full">
  <ul class="">
    <% command.items.each do |item|%>
    <li class="hover:text-blue-300 hover:bg-gray-900 grid grid-cols-5 gap-10 py-2 ">
      <div class="col-span-2 pl-5"> <%= item.drink.name %> </div>
      <%if item.bottles %>
      <div> <%= item.quantity%> bottles</div> 
      <% else %>
      <div> <%= item.quantity%></div>

      <% end %>
      <% if command.government %>
        <div> <%= item.drink.government_price %></div>
      <% else %>
        <div> <%= item.drink.wholesale_price %></div>
      <% end %>
      <% if item.bottles %>
        <% if command.government%>
        <div> <%= (item.drink.government_price * (item.quantity == nil ? 0 : item.quantity)/item.drink.number_per_package).round(2) %> </div>
        <% else %>
                  <div> <%= ((item.drink.retail_price - (item.discount == nil ? 0 : item.discount))* item.quantity).round(2) %> </div>
        <% end %>
      <% else %>
        <% if command.government %>
          <div> <%= item.drink.government_price * (item.quantity == nil ? 0 : item.quantity) %> </div>
        <% else %>
          <div> <%= (item.drink.wholesale_price - (item.discount == nil ? 0 : item.discount)) * (item.quantity == nil ? 0 : item.quantity) %> </div>
        <% end %>
      <% end %>
    </li>
    
    <% end %>
  </ul>
    <%
        transport = command.transportation ? Command.calculate_transport(command) : 0
      command_total = Command.command_total(command) 
  
      amount_paid = command.amount_paid == nil ? 0 : command.amount_paid 
    %>
  </div>
    <div class="grid grid-cols-5 mb-8">
    <div class=" col-span-2 pl-4">Transportation : </div><div></div><div></div><div class="pl-8 gap-4"> <%= transport %></div>
    </div>
  <div class="grid grid-cols-5 ">


    <div class="font-bold text-xl col-span-2 ">TOTAL : </div><div></div><div></div><div class="font-bold text-xl"> <%= command_total %></div>
    
      <div class="font-bold text-xl col-span-2 "> Amount paid :</div><div><turbo-frame id="amount_paid"> </div><div></div><div class="font-bold text-xl"></turbo-frame id="amount"> <%= link_to amount_paid , static_amnt_path(id: command.id) %></turbo-frame></div> 
    <div class="font-bold text-xl col-span-2 "> Amount Owed :</div><div></div><div></div><div class="font-bold text-xl"> <%= command_total - amount_paid %></div>
  </div>
  <% if action_name != "show" %>
    <%= link_to "Show this command", command, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this command', edit_command_path(command), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
  <p class="my-5 flex">
    <strong class=" font-bold mb-1">Comment : </strong>
   <span> <%= command.remark %> </span> 
  </p>
