<div class="w-full" data-controller="command">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center gap-5 ">
    <h1 class="font-bold text-4xl">Commands</h1>
    <input type="text" name="" id="search_field" data-action="keyup->command#search_client" class="inline-block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 grow" placeholder="enter a client name to view their commmands">
    <%= link_to 'New command', new_command_path, class: "rounded-lg py-2 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div class="mt-10 flex justify-between">
    <form action="/commands" method="get">
      <input type="date" name="search_date" id="search_date" value= "<%= @date%>">
      <button type="submit" class="rounded-lg py-2 px-5 bg-red-400 text-white inline-block font-medium cursor-pointer"> show commands for this date</button>
    </form>
    <%= link_to "show all commands", commands_path(message: "all")%>
  </div>
  <ul id="result"></ul>
      <div>
    <div> Total sales today : <%= total_sales(@commands) %> </div>
    <div> Guinness money : <%= guinness_money(@commands)%></div>
    <div> Brasseries money : <%= brasseries_money(@commands)%></div>
   <div> Supermont money : <%= supermont_money(@commands)%></div>
   <div> money for others  : <%= other_money(@commands)%></div>

  </div>
  <div class="grid grid-cols-4 mt-10 bg-gray-900 text-white text-xl py-3 font-bold">
    <div class="text-center">client name</div> <div class="text-center">Command total</div> <div class="text-center">Date </div> <div class="text-center">Amount paid</div>
  </div>

  <div id="commands" class="min-w-full">
    <ul>
      <% @commands.each do |command| %>
      <li class="hover:text-blue-300 hover:bg-gray-900">

        <%= link_to command , class: "grid grid-cols-4 py-3" do %>
            <div class="text-center">
            <%= command.client_name %></div>
            <div class="text-center"><%= Command.command_total(command)%></div>
            <div class="text-center"><%= command.created_at.strftime("%A, %d %B %Y")%></div>
            <div class="text-center">
              <%= command.amount_paid%>
            </div>

        <% end %>
      </li>

      <% end %>
    </ul>

  </div>
</div>
