<div class="  w-full flex  ">
  <div class="w-full ">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="grid grid-cols-5 w-full ">
      <div>    <%= link_to "PRINT RECEIPT" , static_receipt_path(id: @command.id, format: :pdf) , class: "ml-2  py-3 px-5 bg-gray-900 text-white inline-block font-bold text-white text-sm"%></div>
      <div class="col-span-3">
        <%= link_to 'Edit ', edit_command_path(@command), class: "mt-2  py-3 px-5 bg-blue-100 inline-block  hover:text-white hover:bg-blue-400 font-medium uppercase text-sm font-small " %>
        <div class="inline-block ml-2">
          <%= button_to 'Delete', command_path(@command), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-small uppercase text-sm hover:bg-red-400 hover:text-white hover:font-semibold" %>
        </div>
        <%= link_to 'Show other commands', commands_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium font-medium uppercase text-sm font-small hover:bg-yellow-400 hover:text-white hover:font-semibold" %>
      </div>
      <div>
        <% if Client.global_search(@command.client_name) != [] and Client.global_search(@command.client_name).length == 1 %>
          <%= link_to "Receive money", new_payment_url(client_name: @command.client_name) , class: "ml-2  py-3 px-5 bg-green-700 inline-block font-bold text-white  uppercase" %>
        <% end %>
      </div>
    </div>

    <%= render @command %>

    <div class="mt-5">
      <h2 class="font-bold text-lg uppercase">Statistics :</h2>
      <div class="grid grid-cols-3">
        <div><span class="font-semibold"> Total Number of Items </span> : <%= @command.items.count %></div>
        <div><span class="font-semibold"> Number for brasseries </span> : <%= (@command.items.select {|x| x.drink.supplyer == "1"}).count %></div>
        <div><span class="font-semibold"> Number for Supermont </span> : <%= (@command.items.select {|x| x.drink.supplyer == "2"}).count %></div>
        <div><span class="font-semibold"> Number for Guinness </span> : <%= (@command.items.select {|x| x.drink.supplyer == "3"}).count %></div>
        <div><span class="font-semibold"> Number for Savis </span> : <%= (@command.items.select {|x| x.drink.supplyer == "4"}).count %></div>
        <div><span class="font-semibold"> Number Imported </span> : <%= (@command.items.select {|x| x.drink.supplyer == "5"}).count %></div>
        <div><span class="font-semibold"> Number for SOGAL </span> : <%= (@command.items.select {|x| x.drink.supplyer == "6"}).count %></div>
      </div>
    </div>
  </div>
</div>
