<div class="  w-full flex  ">
  <div class="w-full ">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="grid grid-cols-5 w-full ">
      <div>    <%= link_to "PRINT" , static_receipt_path(id: @command.id, format: :pdf) , class: "ml-2 rounded-lg py-3 px-5 bg-green-400 inline-block font-bold text-white text-sm"%></div>
      <div class="col-span-3">
        <%= link_to 'Edit command', edit_command_path(@command), class: "mt-2 rounded-lg py-3 px-5 bg-blue-100 inline-block font-medium text-blue-700 hover:text-blue-100 hover:bg-blue-700 font-medium uppercase text-sm font-bold" %>
        <div class="inline-block ml-2">
          <%= button_to 'Delete', command_path(@command), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium uppercase text-sm font-bold" %>
        </div>
        <%= link_to 'Other commands', commands_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium font-medium uppercase text-sm font-bold" %>
      </div>
    </div>

    <%= render @command %>


  </div>
</div>
